VITE_FIREBASE_API_KEY=AIzaSyA-xVOI6qXkEndKXkSp6-zRLY01qNkQH4E
VITE_FIREBASE_AUTH_DOMAIN=sertao-literario-booktok.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sertao-literario-booktok
VITE_FIREBASE_STORAGE_BUCKET=sertao-literario-booktok.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=291651799720
VITE_FIREBASE_APP_ID=1:291651799720:web:b5c79954511f09b8ddd09d
